// Ladder
.section-ladder {
	// flex: 1;
	height: calc(100vh - #{$progress-h} - 80px);
	width: 14vw;
	.logo {
		display: flex;
		justify-content: center;
		background-color: neos(teal-dark);
		height: 80px;
		padding: 1.2em 2em;
		a {
			display: block;
			width: 100%;
			max-width: 250px;
			margin: 0 auto;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.list-position {
		display: flex;
		height: calc((100vh - #{$progress-h} - 80px));
		flex-direction: column-reverse;
		margin-bottom: 0;
		li {
			display: flex;
			flex: 1 1 100%;
			height: calc((100vh - #{$progress-h} - 80px) / 15);
			background-color: neos(teal-dark);
			color: $white;
			font-size: 16px;
			align-items: center;
			border-top: 1px solid darken(neos(teal-dark), 5%);
			&:last-child {
				border-top: 0;
			}
			&.reward {
				background-color: neos(teal-medium);
				.number,
				.step {
					// color: $grey;
				}
			}
			&.active {
				.steps {
					background-color: rgba($white, 0.2);
				}
			}
			.steps {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-between;
				padding-right: 18px;
			}
			.number {
				display: flex;
				background-color: rgba($black, 0.1);
				width: 40px;
				height: 100%;
				text-align: center;
				font-weight: bold;
				align-self: center;
				align-items: center;
				justify-content: center;
			}
			.step {
				display: inline-block;
				align-self: center;
				// height: 100%;
			}
			.icon {
				align-self: center;
				font-size: 1.4em;
				&.fa-circle {
					color: rgba($black, 0.2);
				}
				&.fa-check-circle {
					color: functional(green);
				}
				&.fa-times-circle {
					color: functional(red);
				}
			}
		}
	}
}