// Index
a {
	color: currentColor;
}

.progress {
	// position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
	height: 10px;
	background-color: neos(teal-dark);
	border-radius: 0;
	box-shadow: none;
	&-bar {
		background-color: neos(teal-medium);
		box-shadow: none;
	}
	&-hurryup {

	}
}

// Content
.content {
	display: flex;
	justify-content: space-between;
	&.index {
		height: 100vh;
		background: radial-gradient(neos(teal-light), neos(teal-medium));
		.section-intro {
			width: 70vw;
			.branding {
				position: relative;
			}
			.logo {
				width: 70%;
				max-width: 900px;
				margin: 0 auto;
				padding-top: 3em;
				padding-bottom: 5em;
				border-bottom: 2px solid $white;
				img {
					margin: 0 13em;
				}
			}
			.intro {
				padding: 2em 5em;
				color: neos(teal-dark);
				width: 70%;
				// max-width: 900px;
				margin: 0 auto;
			}
		}
		.section-start {
			width: 30vw;
			padding: 2em 5em;
			background-color: neos(teal-dark);
			label {
				color: $white;
			}
			.form-control {
				border-radius: 0;
			}
			.btn-start {
				margin-top: 1.5em;
				padding-top: 1em;
				padding-bottom: 1em;
			}
		}
	}
	&.quiz {
		height: calc(100vh - 10px);
	}
}



// Sun rays

.sunburst {
   width: 1368px;
   height: 680px;
   margin:-11px -11px -11px -11px;
   overflow: hidden;
   background: #fff;
}

.sunburst .outer {
   width: 2000px;
   height: 910px;
   padding-top: 1090px;
   margin: -800px 0 0 -310px;
   animation-name: rotate;
   animation-duration:2s;
   animation-iteration-count:infinite;
   animation-timing-function:linear;
   -moz-animation-name: rotate1;
   -moz-animation-duration:2s;
   -moz-animation-iteration-count:infinite;
   -moz-animation-timing-function:linear;
}

.sunburst b {
   display: block;
   width: 0;
   height: 0;
   border-width: 90px 1000px;
   margin: -180px 0 0 0;
   border-color: transparent black;
   border-style: solid;
}

.sunburst b:nth-child(1) { 
   transform:rotate(20deg);  
   -moz-transform:rotate(20deg);  
}

.sunburst b:nth-child(2) { 
   transform:rotate(40deg);  
   -moz-transform:rotate(40deg);  
}

.sunburst b:nth-child(3) { 
   transform:rotate(60deg);  
   -moz-transform:rotate(60deg);  
}

.sunburst b:nth-child(4) { 
   transform:rotate(80deg);  
   -moz-transform:rotate(80deg);  
}

.sunburst b:nth-child(5) { 
   transform:rotate(100deg); 
   -moz-transform:rotate(100deg); 
}

.sunburst b:nth-child(6) {    
   transform:rotate(120deg); 
   -moz-transform:rotate(120deg); 
}

.sunburst b:nth-child(7) { 
   transform:rotate(140deg); 
   -moz-transform:rotate(140deg); 
}

.sunburst b:nth-child(8) { 
   transform:rotate(160deg); 
   -moz-transform:rotate(160deg); 
}

.sunburst b:nth-child(9) { 
   transform:rotate(180deg); 
   -moz-transform:rotate(180deg); 
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(20deg); }
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to   { -moz-transform: rotate(20deg); }
}
