// Section Q/A
.section-qa {
	// flex: 1;
	height: calc(100vh - 10px);
	width: 86vw;
	display: flex;
	justify-content: space-between;
	.q {
		width: 60%;
		padding: 3.5em 5em;
		// background-color: functional(yellow);
		background: radial-gradient(neos(teal-light), neos(teal-medium));
		.step-counter {
			text-transform: uppercase;
			color: $white;
			font-size: 16px;
		}
		.question-title {
			color: neos(teal-dark);
			font-weight: 700;
			line-height: 1.3;
		}
	}
	.a {
		width: 40%;
		background-color: neos(teal-dark);
		padding: 3.5em 2em;
		.a-title{
			color: $white;
			display: block;
			text-transform: uppercase;
			margin-bottom: 1.2em;
		}
		.list-answers {
			display: flex;
			// flex-wrap: wrap;
			flex-direction: column;
			&:hover {
				.btn {
					background-color: lighten(neos(teal-dark), 40%);
				}
			}
			li {
				// width: 50%;
				height: 15vh;
				margin-bottom: 1em;
				&.answer {
					.btn {
						position: relative;
						background-color: lighten(neos(teal-dark), 40%);
						// overflow: hidden;
						&::after {
							position: absolute;
							bottom: -0.45em;
							right: -0.15em;
							font-size: 6em;
							opacity: 0.2;
						}
					}
					&[class*="answer-"] {
						.btn {
							color: $white;
						}
					}
				}
				&.answer-correct {
					.btn {
						background-color: functional(green);
						&::after {
							content: '\f00c';
							font-family: $fa;
						}
					}
				}
				&.answer-was-correct {
					.btn {
						background-color: functional(green);
						// Animate
					}
				}
				&.answer-incorrect {
					.btn {
						background-color: functional(red);
						&::after {
							content: '\f00d';
							font-family: $fa;
						}
					}
				}
			}
			.btn {
				display: flex;
				position: relative;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				border: 0;
				border-radius: 0;
				font-size: 24px;
				white-space: normal;
				padding-left: 70px;
				background-color: lighten(neos(teal-dark), 60%);
				&:hover,
				&:focus {
					background-color: lighten(neos(teal-dark), 80%);
				}
				&::before {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: rgba(neos(teal-dark), 0.2);
				}
				&-a {
					&::before {
						content: 'A';
					}
				}
				&-b {
					&::before {
						content: 'B';
					}
				}
				&-c {
					&::before {
						content: 'C';
					}
				}
				&-d {
					&::before {
						content: 'D';
					}
				}
			}
		}
	}
}



// Pre and Code
pre {
	padding: 15px;
	font-size: 18px;
	background-color: $grey;
	border: 0;
	color: $white;
	margin-top: 2em;
	.hljs {
		background-color: transparent;
		color: lighten($grey, 70%);
		&-string {
			color: functional(red);
		}
		&-built_in {
			color: functional(green);
		}
	}
}










