// MIXINS

// RWD
// http://css-tricks.com/media-queries-sass-3-2-and-codekit/
@mixin breakpoint($point) {
	@if $point == xl {
		@media (min-width: 1400px) { @content; }
	}
	@if $point == lg {
		@media (min-width: 1200px) { @content; }
	}
	@else if $point == md {
		@media (min-width: 992px) { @content; }
	}
	@else if $point == sm {
		@media (min-width: 768px)  { @content; }
	}
	@else if $point == xs {
		@media (min-width: 480px)  { @content; }
	}
}

// Orientation
// http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
@mixin orientation($position) {
	@if $position == landscape {
		@media only screen and (orientation : landscape) { @content; }
	}
	@else if $position == portrait {
		@media only screen and (orientation : portrait) { @content; }
	}
}

// Firefox only hacks
@mixin firefox {
	@-moz-document url-prefix() {
		@content;
	}
}

// Retina images
// https://signalvnoise.com/posts/3271-easy-retina-ready-images-using-scss
@mixin img-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
		(-o-min-device-pixel-ratio: 2.6/2),
		(-webkit-min-device-pixel-ratio: 1.3),
		(min-device-pixel-ratio: 1.3),
		(min-resolution: 1.3dppx) {
		/* on retina, use image that's scaled by 2 */
		background-image: url($image);
		background-size: $width $height;
	}
}

// Disable zoom on input focus
// Add font-size: 16px; on mobile, and return to 14px on breakpoint(sm)
@mixin zoom() {
	@media screen and (-webkit-min-device-pixel-ratio:0) { @content; }
}

// Clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Animations
@mixin transition($property) {
	transition: $property 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
	box-sizing: border-box;
}

// Collapser
@mixin collapser {
	&[aria-expanded="false"] {
		.collapser {
			@include transition;
			transform: rotate(-180deg);
		}
	}
	&[aria-expanded="true"] {
		.collapser {
			@include transition;
		}
	}
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Font size
@mixin font-size($size: 12, $base: 16) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}

// IE Opacity
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

// Checkboxes
@mixin checkbox($color, $box, $checkmark) {
	label {
		color: $color;
	}
	input[type=checkbox] + label:before {
		content: $box;
	}
	input[type=checkbox]:checked + label:before {
		content: $checkmark;
	}
}

// Radio buttons
@mixin radio($color-radio, $circle, $radio) {
	label {
		color: $color-radio;
	}
	input[type=radio] + label:before {
		content: $circle;
	}
	input[type=radio]:checked + label:before {
		content: $radio;
	}
}
