// Template
// Colors
$black: #161616;
$white: #ffffff;
$grey: #2c303c;

// Functional colors
$functional: (
	yellow: #ffca3a,
	green: #58d263,
	blue: #1982c4,
	red: #d26358
);

$neos: (
	teal-dark: #1f738b,
	teal-medium: #58c7d2,
	teal-light: #b5e6eb,

);

// Fonts
$font: 'Montserrat', sans-serif;
$font-fallback: Helvetica, Arial, sans-serif;

// Progress bar Timer
$progress-h: 10px;

// Body
body {
	font-family: $font;
}


// Buttons
.btn {
	@include transition(background-color);
	border-radius: 0;
	border: 0;
}

// Modals
.modal {
	background-color: rgba($black, 0.5);
	.modal-open & {
		display: flex;
		align-items: center;
	}
	.modal-footer {
		text-align: center;
	}
}