// Template
// Colors
$black: #161616;
$white: #ffffff;
$grey: #2c303c;

// Functional colors
$functional: (
	yellow: #ffca3a,
	green: #58d263,
	blue: #1982c4,
	red: #d26358
);

$neos: (
	teal-dark: #1f738b,
	teal-medium: #58c7d2,
	teal-light: #b5e6eb,

);

// Fonts
$font: 'Montserrat', sans-serif;
$font-fallback: Helvetica, Arial, sans-serif;

// Progress bar Timer
$progress-h: 10px;

// Body
body {
	font-family: $font;
	counter-reset: counter;
}


// Buttons
.btn {
	@include transition(background-color);
	border-radius: 0;
	border: 0;
	&-success {
		background-color: functional(green);
		&:hover,
		&:focus {
			background-color: darken(functional(green), 10%);
		}
	}
	&-primary {
		background-color: neos(teal-dark);
		&:hover,
		&:focus {
			background-color: darken(neos(teal-dark), 10%);
		}
	}
}


// Content
.content {
	display: flex;
	justify-content: space-between;
	&.index {
		height: 100vh;
		background: radial-gradient(neos(teal-light), neos(teal-medium));
	}
	&.quiz {
		height: calc(100vh - 10px);
	}
}

// Modals
.modal {
	background-color: rgba($black, 0.5);
	.modal-open & {
		display: flex;
		align-items: center;
	}
	.modal-footer {
		text-align: center;
	}
}